asgiref
beautifulsoup4
certifi
charset-normalizer
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
docopt
filelock
idna
Js2Py
packaging
pillow
pipenv
pipwin
platformdirs
psycopg
psycopg-binary
psycopg2-binary
pyjsparser
PyPrind
pySmartDL
requests
setuptools
six
soupsieve
sqlparse
typing_extensions
tzdata
tzlocal
urllib3
virtualenv